<div>
    <h2 id="page-heading">
        <span>Showtimes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-showtime" [routerLink]="['/showtime/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Showtime
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="showtimes?.length === 0">
        <span>No showtimes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="showtimes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="time"><span>Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="noofseats"><span>Noofseats</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rate"><span>Rate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="theater.id"><span>Theater</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="movie.id"><span>Movie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let showtime of showtimes ;trackBy: trackId">
                    <td><a [routerLink]="['/showtime', showtime.id, 'view']">{{ showtime.id }}</a></td>
                    <td>{{ showtime.time | date:'medium' }}</td>
                    <td>{{ showtime.noofseats }}</td>
                    <td>{{ showtime.rate }}</td>
                    <td>
                        <div *ngIf="showtime.theater">
                            <a [routerLink]="['/theater', showtime.theater?.id, 'view']" >{{ showtime.theater?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="showtime.movie">
                            <a [routerLink]="['/movie', showtime.movie?.id, 'view']" >{{ showtime.movie?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/showtime', showtime.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/showtime', showtime.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(showtime)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
