<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movie">
            <h2><span>Movie</span> {{ movie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ movie.name }}</span>
                </dd>
                <dt><span>Rating</span></dt>
                <dd>
                    <span>{{ movie.rating }}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{ movie.genre }}</span>
                </dd>
                <dt><span>Cast</span></dt>
                <dd>
                    <span>{{ movie.cast }}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="movie.image">
                        <a (click)="openFile(movie?.imageContentType!, movie?.image)">
                            <img [src]="'data:' + movie.imageContentType + ';base64,' + movie.image" style="max-width: 100%;" alt="movie image"/>
                        </a>
                        {{ movie.imageContentType }}, {{ byteSize(movie.image) }}
                    </div>
                </dd>
                <dt><span>Desc</span></dt>
                <dd>
                    <span>{{ movie.desc }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movie', movie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
